<h1>Bem vindo ao Victus, <%= @account.name %></h1>
<p>
  Você foi cadastrado com sucesso no Victus
</p>
<p>
  Para acessar a platforma é só clicar nesse link: <%= link_to 'login`, login_url %>.
</p>
<p>
  Obrigado por se cadastrar!
</p>
